/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS Properties */
:root{
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --secondary-color-light: #cdccf1;
    --accent-color: #fdc15f;
    --accent-color-dark: #333333;
    --accent-color-light: #5a6e7f;
    --standard-space: 1rem;
}

/* Container */
section,
footer{
    padding: 2rem 0;
}

.container{
    width: 100%;
    padding: 0 var(--standard-space);
}

.row{
    flex-wrap: wrap;
}

.col{
    flex-basis: 100%;
    padding: .5rem;
}

.card-container{
    border-radius: 20px;
    padding: var(--standard-space);
}

/* Proprietà flex */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-items{
    align-items: center;
}

.flex-center{
    justify-content: center;
}

/* Background */
.bg-primary{
    background-color: var(--primary-color);
}

.bg-primary-light{
    background-color: var(--primary-color-light);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-accent-dark{
    background-color: var(--accent-color-dark);
}

.bg-white{
    background-color: white;
}

/* Spaziature */
.mg-btm{
    margin-bottom: var(--standard-space);
}

.mg-x-neg{
    margin: 0 -.5rem;
}

/* Proprietà per link, liste, bottoni e img */
li{
    list-style: none;
    padding: 0 var(--standard-space);
}

a{
    display: inline-block;
    padding: .5rem;
}

img{
    width: 100%;
    display: block;
}

button{
    border: none;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    padding: .5rem;
}

.btn-white{
    background-color: white;
    color: var(--accent-color-dark);
}

.btn-primary{
    background-color: var(--primary-color);
    color: white;
}

.btn-secondary{
    background-color: var(--secondary-color);
    color: white;
}

.btn-circle{
    border-radius: 50%;
    color: var(--accent-color-dark);
}

/* Formattazione testo */
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}

.text-primary{
    color: var(--primary-color);
}

.text-accent-dark{
    color: var(--accent-color-dark);
}

.text-accent-light{
    color: var(--accent-color-light);
}

.text-accent{
    color: var(--accent-color);
}

.text-bold{
    font-weight: bold;
}

.text-italic{
    font-style: italic;
}

.text-upper{
    text-transform: uppercase;
}

/* Proprietà specifiche per header */
header .logo-container{
    max-width: 70px;
}

nav{
    padding: var(--standard-space) 0;
}

nav a{
    text-decoration: none;
    color: white;
}

nav button{
    align-self: center;
}

.menu-container{
    display: none;
}

.menu-container-hamburger button{
    font-size: 1.5rem;
}

/* Proprietà specifiche per sezioni centrali */
.img-container{
    max-width: 60%;
}

.card-img{
    justify-content: center;
}