/* Tablet */
@media screen and (min-width: 768px){
    html{
        font-size: 16px;
    }

    .col-1_2{
        flex-basis: calc(100% / 2);
    }
    
    .col-1_3{
        flex-basis: calc(100% / 3);
    }

    .col-2_3{
        flex-basis: calc(100% / 3 * 2);
    }

    .card-img{
        justify-content: flex-start;
    }

    .img-container-phone{
        max-width: 50%;
    }

    .img-container-doodle1{
        display: flex;
        justify-content: center;
    }

    .img-round-small{
        max-width: 80%;
    }

    .img-center{
        justify-content: flex-start;
    }

    .img-quote{
        max-width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 920px){
    html{
        font-size: 16px;
    }
    
    .container{
        max-width: 920px;
        margin: 0 auto;
    }

    .menu-container{
        display: inline-flex;
    }

    .menu-container-hamburger{
        display: none;
    }

    .col-1_4{
        flex-basis: calc(100% / 4);
    }

    .col-3_4{
        flex-basis: calc(100% / 4 * 3);
    }

    .col-lg-1_3{
        flex-basis: calc(100% / 3);
    }

    .col-lg-1_2{
        flex-basis: calc(100% / 2);
    }

    .card-img{
        justify-content: center;
    }

    .img-container-phone{
        max-width: 100%;
    }

    .img-container-doodle2{
        max-width: 60%;
    }
}