/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Properties */
:root{
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --accent-color-light: #fdc15f;
    --accent-color-dark: #333333;
}

/* Container */
.container{
    width: 100%;
    padding: 0 1rem;
}

.row{
    flex-wrap: wrap;
}

/* Proprietà flex */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

/* Padding da togliere (solo per visualizzare) */
[class^="col"]{
    padding: 4rem 0;
    background-color: var(--primary-color-light);
}

.col{
    flex-basis: 100%;
    border: 1px solid black;
}

.col-half{
    flex-basis: calc(100% / 2);
}



/* Proprietà specifiche per header */
header{
    background-color: var(--primary-color);
}

header .logo-container{
    max-width: 100px;
}

header .logo-container img{
    width: 100%;
    display: block;
}

.menu-container{
    display: none;
}